.base-info{
  .items{
    display: flex;
    &:last-child{
      margin-top: 16px;
    }
    .item{
      flex: 1;
      display: flex;
    
      .title{
          font-weight: bold;
          color: #333;
          min-width: 70px;
      }
      .content{
  
      }
    }
    
  }
}
.log{
  margin-top: 20px;
  .left{
    margin-left: 20px;
  }
  .pageination{
    margin-top: 20px;
  }
}